@import "styles/colors.scss";
@import "styles/layout.scss";


.header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    min-height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 5, 11);
    padding: 8px 32px;
}
.search {
    color:   rgb(255, 167, 89);
}

.headerLeft {

}

.headerCenter {
    display: flex;
    width: 50%;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.headerRight {
    & > a {
        font-size: 1.3rem;
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.searchInput {
    font-size: 1.2rem;
    width: 100%;
    background-color: rgb(2, 5, 11);
    padding: 16px 32px;
    border-radius: 16px;
    border: 2px solid rgb(40, 40, 40);
}

.logo {
    font-size: 1.3rem;
}
.headerContents {
    color: white;
}

