@import "styles/colors";

.function {
    color: $text;
    margin-top:16px;
}
.functionLink {
    color: $functionLink;
    cursor: pointer;
}

.isSyscall {
    color: $syscall !important;
}

.syscalls {
    margin-top: 16px;
    margin-bottom: 16px;

    & > summary {
        font-weight:800;
        cursor: pointer;
        margin-bottom: 16px;
        color: $syscall;
    }
}

.syscall {
    display: flex;
    flex-direction: row;
    gap: 9px;
    font-size: 1rem;
}

.hexNumber {
    text-align:left;
    font-size: 1rem;
    min-width: 54px;
    font-weight: 800;
}

.decimalNumber {
    text-align:left;
    font-size: 1rem;
    min-width: 42px;
    font-weight: 800;
}

.moduleType, .architecture {
    color: #ffc7da;
}

.x64 {
    color: rgb(255, 137, 137) !important;
}

.x86 {
    color: rgb(127, 127, 255);
}