.toggleContainer {
  margin-bottom: 20px;
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="checkbox"] {
    margin-right: 16px;
    transform: scale(1.6);
    cursor: pointer;
  }
}

.toggleButton {
  margin-left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative; 

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }
}

.icon {
  width: 36px;
  height: 36px;
}
