.toggleContainer {
  margin-bottom: 20px;
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="checkbox"] {
    margin-right: 16px;
    transform: scale(1.6);
    cursor: pointer;
  }
}