$headerBackground: rgb(20, 24, 28);

$text: #CCCCCC;
$accent: #5A9BD8;
$primary: #6A8DBF;
$secondary: #A0D0F5;
$ternary: #1C1F26;

$syscall: #E57373;
$links: #E57373;
$moduleHeader: #A6A6A6;

$logoSearch: #E57373;
$syscallOn: #E57373;

$functionLink: #85b6ff;

$searchBackground: rgb(16, 19, 22);
$linksText: #A6A6A6;
