@import "styles/colors";

.usefulLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }
}

.link {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 8px;
    color: $primary;
}

.link:hover {
    text-decoration: underline;
}